/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.home-container {
    margin-top: 50px;
    .home-form {
        margin-top: 50px;
    }
}
.table-loading {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-body {
    margin-top: 50px;
    height: 500px;
}

.summary-span{
    display: flex;
    max-width: 400px;
    padding: 20px;
}
.request-worklog-cls{
    height: 500px;
    text-align: center;
}

.mat-mdc-header-row {
    font-weight: 700 !important;
    background: lightblue !important;
}